TABLE_MAX_WIDTH=180
CACHE_FORCE_VALID=false
CACHE_FORCE_INVALID=false
MIN_SECS_BETWEEN_QUERIES=5
MIN_LOG_LEVEL=WARNING

# Family

PARKRUNNER_ME=1

# Friends



# Celebrities

PARKRUNNER_DARREN_WOOD=490
